@import '~StylePath/mixins.scss';

#video-container{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    opacity: 0;
    transition: opacity ease-in 1s;
    &.active {
        opacity: 1;
    }
    .bacon {
        width: 100%;
        padding: 187px 30px;
        display: block;
        text-align: center;
        align-items: center;
        @include type($heading1, bold, $white);
    }
    video {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -99;
    }
}