@import '~StylePath/mixins.scss';
@keyframes slidein_animation{
    0% { transform: translate(500px, 0); }
    90% { transform: translate(500px, 0); }
    100% { transform: translate(0, 0); }
}

@keyframes shake_animation{
    0% { transform: rotate(0deg); }
    5% { transform: rotate(5deg); }
    10% { transform: rotate(-5deg); }
    15% { transform: rotate(5deg); }
    20% { transform: rotate(-5deg); }
    25% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}
@keyframes pulse_animation{
    0% { transform: scale(1); }
    5% { transform: scale(1.2); }
    10% { transform: scale(1); }
    15% { transform: scale(1.3); }
    20% { transform: scale(1); }
}
.subs-item-container {
    display: inline-block;
    width: 420px;
    margin-right: 60px;
    height: 285px;
    vertical-align: top;

    &:nth-child(odd){
       margin-right: 0px;
    }

    &.add-drink-container {
        align-items: center;
        text-align: left;
        position: relative;
        video {
            display: inline-block;
            height: 350px;
            margin-top: -57px;
            margin-left: -50px;
        }
        .bug{
            background: $subwayGreen;
            height: 160px;
            width: 160px;
            border-radius: 80px;
            text-align: center;
            position: absolute;
            left: 150px;
            top: 70px;
            z-index: -9;
            &.animated {
                animation-name: pulse_animation;
                animation-duration: 3000ms;
                transform-origin:center;
                animation-iteration-count: 1;
                animation-timing-function: ease-in-out;
            }
            .add {
                @include type(40px, bold, $white);
                line-height: 35px;
                margin-top: 30px;
                text-transform: uppercase;
            }
            .drink {
                @include type(24px, bold, $white);
                line-height: 20px;               
                text-transform: uppercase;
            }
            .price {
                @include type(60px, bold, $white);
                line-height: 55px;
            }
        }
    }

    .subs-item-title {
        @include type($heading2,bold,$subwayGreen);
    }

    .subs-item-image-container {
        height: 160px;
        margin-left: -20px;
        position: relative;
        margin-top: 10px;
        z-index: -999;

        // TODO: for testing
        
        .icon-container{
            position: absolute;
            right: 0;
            bottom: 10px;

            img {
                opacity: 0;
                margin-left: 5px;
            }
            .lowfat-icon-show{
                opacity: 1;
            }

            .heart-icon-show{
                opacity: 1;
            }
        }

    }

    .subs-sub-ingredients {
        @include type($ingredients, normal, $subwayGreen);
        line-height: $ingredients;
        min-height: $ingredients;
        width: 270px;
    }

    .subs-item-info {
        display: flex;
        width: 100%;
        align-items: baseline;
        margin-top: -10px;

        .subs-info-cal,
        .subs-info-price{
            float: left;
        }

        .subs-info-cal{
            font-family: '6inch-font';
            font-size: 18px;
            color: $grey;
            width: 270px;
            .bold{
                font-family: 'foot-long-font';
            }
        }

        .subs-info-price{
            @include type($heading2, bold, $subwayGreen);
            line-height: $heading2;
        }

    }
}