@import '~StylePath/mixins.scss';

:local .container{
    display: flex;
    flex-direction: column;
}

.side-snacks-label{
    color: $lettuceGreen !important;
}

.side-snacks-menu-container{
    position: relative;
    margin-bottom: 30px;
    min-height: 150px;

    .side-snacks-menu {
        width: 60%;
        display: inline-table;
        @include type(36px, bold, $subwayGreen);
        .items-name {
            width: 70%;
        }
    }

    :local .split{
        width: calc(100% / 2)!important;
    }

    .side-snacks-image {
        position: absolute;
        right: 0;
        top: 0;
        width: 40%;
    }

    @include clearFloats;
}


:local .bacon{
    height: 60%;
}