@import '~StylePath/mixins.scss';

.section-container{
    .header{
        display: block;
        position: relative;
        color: $subwayYellow!important;
    }

    &.breakfast{
        .row{
            &:not(special){
                @include type($heading2, bold, $subwayGreen);
                .menu {
                    line-height: $heading2;
                    .menu-cal {
                        @include type($engery, normal, $subwayGreen);
                    }
                }
            }

            &.special {
                @include type($heading2,bold,$subwayYellow);
                .menu {
                    line-height: $heading2;
                    .menu-cal {
                        @include type($engery, normal, $subwayYellow);
                    }
                }
            }
        }
    }
}
