
// colors
$green: #8bcd32;
$yellow: #ffc20d;
$red: #fa4c16;
$grey: #555555;

$waterBlue: #00a7e9;
$lettuceGreen: #8bcd32;
$spinachGreen: #006230;
$onionPurple: #4c006a;
$carrotOrange: #ff8200;
$tomatoRed: #fa4c16;
$subwayYellow: #ffc20d;
$subwayGreen: #009132;
$menuGreen: #00833e;
$white: #fff;

// font sizest
$heading1: 76px;
$heading2: 35px;
$engery: 30px;
$body: 18px;
$ingredients: 15px;
$tradeMark: 9px;

// lay out
$viewerPadding: 30px;